/* 要素によるスタイルの適用 */
/* Flaskは この構造でしかCSSを配信しません */

body {
  font-family: arial, sans-serif;
  background-color: #f4f6f8;
}

/* classによるスタイルの適用 */
/* 背景が薄グレーになり、白いカードが中央に出る */
.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

h1 {
  font-size: 100px;
}

/* idによるスタイルの適用 */
#name {
  /* テスト用なのでコメントアウト */
	/*color: blue; */
}

#price {
    /* テスト用なのでコメントアウト */
		/*color: purple;*/
}