<!DOCTYPE html>
<html lang="jp">

<head>
  <mata charaset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <title>売買利益計算ツール</title>
</head>

<body>
  <div class="container">
    <h1>売買利益計算ツール</h1>

    <form method="post" class="form-box">
      <div class="field">
        <label>商品名</label>
        <input type="text" name="name">
      </div>
      <div class="field">
        <label>売値</label>
        <input type="text" name="price">
      </div>
      <div class="field">
        <label>原価</label>
        <input type="text" name="cost_price">
      </div>
      <div class="field">
        <label>送料</label>
        <input type="text" name="shipping">
      </div>
      <button type="submit">計算する</button>
    </form>
    <p>
      <a href="/history" class="btn-history">履歴一覧を表示</a>
    </p>
    
    {% if error %}
    <p class="error_message">{{ error }}</p>
    {% endif %}
    {% if result %}
    <div class="result-box">
      <h2>計算結果</h2>
      <p>商品名:{{ result.商品名 }}</p>
      <p>利益:{{ result.利益 }} 円</p>
      <p>利益率:{{ result.利益率 }} %</p>
      <p class="judge {{ result.判定カラー }}">
        {{ result.判定 }}
      </p>
    </div>
    {% endif %}
  </div>
</body>

</html>