<!DOCTYPE html>
<html lang="jp">
<head>
  <mata charaset="UTF-8">
  <title>売買利益計算ツール</title>
</head>
<body>
  <h1>売買利益計算ツール</h1>

  <form method="post">
    <div>
      商品名:
      <input type="text" name="name">
    </div>
    <div>
      売値:
      <input type="text" name="price">
    </div>
    <div>
      原価:
      <input type="text" name="cost_price">
    </div>
    <div>
      送料:
      <input type="text" name="shipping">
    </div>

    <button type="submit">計算する</button>
  </form>
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  {% if result %}
    <h2>計算結果</h2>
    <p>商品名:{{ result.name}}</p>
    <p>利益:{{ result.profit}} 円</p>
    <p>利益率:{{ result.profit_rate}} %</p>
    <p>判定:
      <font color="red">{{ result.judge }}</font>
    </p>
  {% endif %}
</body>
</html>